@import './base.css';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#app {
  font-weight: normal;
}

* {
  font-family: 'Inter', sans-serif;
}

a,
.green {
  text-decoration: none;
  color: $soft-blue;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba($soft-blue, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
